body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 4.25rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 6.8rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 1.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #1abc9c !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #1abc9c !important;
}
.bg-danger {
  background-color: #31a53b !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #1abc9c !important;
  border-color: #1abc9c !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #117964 !important;
  border-color: #117964 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #117964 !important;
  border-color: #117964 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #1abc9c !important;
  border-color: #1abc9c !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #117964 !important;
  border-color: #117964 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #117964 !important;
  border-color: #117964 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #31a53b !important;
  border-color: #31a53b !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #1f6a26 !important;
  border-color: #1f6a26 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1f6a26 !important;
  border-color: #1f6a26 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0e6252;
  color: #0e6252;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #1abc9c !important;
  border-color: #1abc9c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #0e6252;
  color: #0e6252;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #1abc9c;
  border-color: #1abc9c;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #1abc9c !important;
  border-color: #1abc9c !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #1a561f;
  color: #1a561f;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #31a53b;
  border-color: #31a53b;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #31a53b !important;
  border-color: #31a53b !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #1abc9c !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #1abc9c !important;
}
.text-danger {
  color: #31a53b !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0e6252 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #0e6252 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #1a561f !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #1abc9c;
}
.alert-danger {
  background-color: #31a53b;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #1abc9c;
  border-color: #1abc9c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #1abc9c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #6bebd1;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #6bebd1;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #7dd885;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #1abc9c;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #1abc9c;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #1abc9c;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #1abc9c;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #1abc9c;
  border-bottom-color: #1abc9c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #1abc9c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%231abc9c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-t9A7efYpuX {
  background-image: url("../../../assets/images/mbr-1920x1275.jpg");
}
.cid-t9A7efYpuX .mbr-text,
.cid-t9A7efYpuX .mbr-section-btn {
  color: #ffffff;
}
.cid-t9A7efYpuX H1 {
  color: #f9f295;
}
.cid-t9A7efYpuX H3 {
  color: #f9f295;
}
.cid-t6KCTotMtL {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t6KCTotMtL .mbr-text,
.cid-t6KCTotMtL blockquote {
  color: #767676;
}
.cid-t6KCTotMtL .mbr-text {
  color: #232323;
}
.cid-t9zP8XGETH {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-t9zP8XGETH .line {
  background-color: #232323;
  color: #232323;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-t9zP8XGETH .section-text {
  padding: 2rem 0;
  color: #232323;
}
.cid-t9zP8XGETH .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-t9zP8XGETH .inner-container {
    width: 100% !important;
  }
}
.cid-teqdfICJZl {
  padding-top: 30px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-teqdfICJZl .mbr-text,
.cid-teqdfICJZl blockquote {
  color: #767676;
}
.cid-teqdfICJZl .mbr-text {
  color: #cc2952;
}
.cid-teqdfICJZl .mbr-text P {
  text-align: left;
}
.cid-t55s6wYj9c {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-t55s6wYj9c .mbr-text,
.cid-t55s6wYj9c blockquote {
  color: #767676;
}
.cid-t55s6wYj9c .mbr-text {
  color: #232323;
}
.cid-teqoIobNGK {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-teqoIobNGK .mbr-text,
.cid-teqoIobNGK blockquote {
  color: #767676;
}
.cid-teqoIobNGK .mbr-text {
  color: #232323;
}
.cid-teqoIobNGK .mbr-text P {
  text-align: left;
}
.cid-teqoTdx8tX {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-teqoTdx8tX .mbr-text,
.cid-teqoTdx8tX blockquote {
  color: #767676;
}
.cid-teqoTdx8tX .mbr-text {
  color: #232323;
}
.cid-teqoTdx8tX .mbr-text P {
  text-align: left;
}
.cid-teqiKRi0To {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-teqiKRi0To .mbr-text,
.cid-teqiKRi0To blockquote {
  color: #767676;
}
.cid-teqiKRi0To .mbr-text {
  color: #232323;
}
.cid-teqiKRi0To .mbr-text P {
  text-align: left;
}
.cid-teqgw6Fq2E {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-teqgw6Fq2E .mbr-text,
.cid-teqgw6Fq2E blockquote {
  color: #767676;
}
.cid-teqgw6Fq2E .mbr-text {
  color: #232323;
}
.cid-teqgw6Fq2E .mbr-text P {
  text-align: left;
}
.cid-tagq8wG7ys {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-tagq8wG7ys .counter-container {
  color: #767676;
}
.cid-tagq8wG7ys .counter-container ul {
  margin-bottom: 0;
}
.cid-tagq8wG7ys .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
}
.cid-tagq8wG7ys .counter-container ul li:before {
  position: absolute;
  left: -56px;
  margin-top: -10px;
  padding-top: 3px;
  content: '';
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 20px;
  transition: all .2s;
  color: #ffffff;
  background: #31a53b;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  content: '✓';
}
.cid-tagq8wG7ys .mbr-text {
  color: #232323;
}
.cid-teqhENSPTD {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-teqhENSPTD .line {
  background-color: #cc2952;
  color: #cc2952;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-teqhENSPTD .section-text {
  padding: 2rem 0;
  color: #cc2952;
}
.cid-teqhENSPTD .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-teqhENSPTD .inner-container {
    width: 100% !important;
  }
}
.cid-tagb4ZzYBQ {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-tagb4ZzYBQ .mbr-text,
.cid-tagb4ZzYBQ blockquote {
  color: #767676;
}
.cid-tagb4ZzYBQ .mbr-text {
  color: #232323;
}
.cid-teqqybs7lb {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-teqqybs7lb .mbr-text,
.cid-teqqybs7lb blockquote {
  color: #767676;
}
.cid-teqqybs7lb .mbr-text {
  color: #073b4c;
}
.cid-teqqybs7lb .mbr-text P {
  text-align: left;
}
.cid-teqqBdzLLE {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-teqqBdzLLE .mbr-text,
.cid-teqqBdzLLE blockquote {
  color: #767676;
}
.cid-teqqBdzLLE .mbr-text {
  color: #232323;
}
.cid-teqqBdzLLE .mbr-text P {
  text-align: left;
}
.cid-t9tS0SjcFQ {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-t9tS0SjcFQ .image-block {
  margin: auto;
}
.cid-t9tS0SjcFQ .mbr-figure {
  margin: 0 auto;
}
.cid-t9tS0SjcFQ figcaption {
  position: relative;
}
.cid-t9tS0SjcFQ figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-t9tS0SjcFQ .image-block {
    width: 100% !important;
  }
}
.cid-teqry7xDfj {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-teqry7xDfj .mbr-text,
.cid-teqry7xDfj blockquote {
  color: #767676;
}
.cid-teqry7xDfj .mbr-text {
  color: #232323;
}
.cid-teqry7xDfj .mbr-text P {
  text-align: left;
}
.cid-tagq9m6DKz {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-tagq9m6DKz .mbr-text,
.cid-tagq9m6DKz blockquote {
  color: #767676;
}
.cid-tagq9m6DKz .mbr-text {
  color: #232323;
}
.cid-t55sKSVrhv {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #e4d295;
}
.cid-t55sKSVrhv .mbr-section-subtitle {
  color: #767676;
}
.cid-t55sKSVrhv H2 {
  color: #232323;
}
.cid-t7EjsBrMJN {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 0px;
}
.cid-t7EjsBrMJN .image-block {
  margin: auto;
}
.cid-t7EjsBrMJN .mbr-figure {
  margin: 0 auto;
}
.cid-t7EjsBrMJN figcaption {
  position: relative;
}
.cid-t7EjsBrMJN figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-t7EjsBrMJN .image-block {
    width: 100% !important;
  }
}
.cid-t55vyJrSbP {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t55vyJrSbP .mbr-text,
.cid-t55vyJrSbP blockquote {
  color: #767676;
}
.cid-t55vyJrSbP .mbr-text {
  color: #232323;
}
.cid-t9uEfFkQjV {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t9uEfFkQjV .counter-container {
  color: #767676;
}
.cid-t9uEfFkQjV .counter-container ul {
  margin-bottom: 0;
}
.cid-t9uEfFkQjV .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
}
.cid-t9uEfFkQjV .counter-container ul li:before {
  position: absolute;
  left: -56px;
  margin-top: -10px;
  padding-top: 3px;
  content: '';
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 20px;
  transition: all .2s;
  color: #ffffff;
  background: #31a53b;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  content: '✓';
}
.cid-t9uEfFkQjV .mbr-text {
  color: #232323;
}
.cid-t9uEmpfMbQ {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t9uEmpfMbQ .mbr-text,
.cid-t9uEmpfMbQ blockquote {
  color: #767676;
}
.cid-t9uEmpfMbQ .mbr-text {
  color: #232323;
}
.cid-t59stcgWsj {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-t59stcgWsj .line {
  background-color: #232323;
  color: #232323;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-t59stcgWsj .section-text {
  padding: 2rem 0;
  color: #232323;
}
.cid-t59stcgWsj .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-t59stcgWsj .inner-container {
    width: 100% !important;
  }
}
.cid-t9tUdt5jUm {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 0px;
}
.cid-t9tUdt5jUm .image-block {
  margin: auto;
}
.cid-t9tUdt5jUm .mbr-figure {
  margin: 0 auto;
}
.cid-t9tUdt5jUm figcaption {
  position: relative;
}
.cid-t9tUdt5jUm figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-t9tUdt5jUm .image-block {
    width: 100% !important;
  }
}
.cid-t59sWqreuK {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t59sWqreuK .mbr-text,
.cid-t59sWqreuK blockquote {
  color: #767676;
}
.cid-t59sWqreuK .mbr-text {
  color: #232323;
}
.cid-tagcqTa184 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-tagcqTa184 .counter-container {
  color: #767676;
}
.cid-tagcqTa184 .counter-container ul {
  margin-bottom: 0;
}
.cid-tagcqTa184 .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
}
.cid-tagcqTa184 .counter-container ul li:before {
  position: absolute;
  left: -56px;
  margin-top: -10px;
  padding-top: 3px;
  content: '';
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 20px;
  transition: all .2s;
  color: #ffffff;
  background: #149dcc;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  content: '✓';
}
.cid-tagcqTa184 .mbr-text {
  color: #232323;
}
.cid-tagcsnqKWb {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-tagcsnqKWb .mbr-text,
.cid-tagcsnqKWb blockquote {
  color: #767676;
}
.cid-tagcsnqKWb .mbr-text {
  color: #232323;
}
.cid-t59u5sd0y3 {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #b2ccd2;
}
.cid-t59u5sd0y3 .mbr-section-subtitle {
  color: #767676;
}
.cid-t59u5sd0y3 H2 {
  color: #ffffff;
}
.cid-t9ufCfUatq {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t9ufCfUatq .mbr-text,
.cid-t9ufCfUatq blockquote {
  color: #767676;
}
.cid-t9ufCfUatq .mbr-text {
  color: #232323;
}
.cid-t6GMvBbrbH {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.cid-t6GMvBbrbH .image-block {
  margin: auto;
}
.cid-t6GMvBbrbH .mbr-figure {
  margin: 0 auto;
}
.cid-t6GMvBbrbH figcaption {
  position: relative;
}
.cid-t6GMvBbrbH figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-t6GMvBbrbH .image-block {
    width: 100% !important;
  }
}
.cid-t9uh1JYyh6 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t9uh1JYyh6 .mbr-text,
.cid-t9uh1JYyh6 blockquote {
  color: #767676;
}
.cid-t9uh1JYyh6 .mbr-text {
  color: #232323;
}
.cid-t9uhiAQSrh {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-t9uhiAQSrh .image-block {
  margin: auto;
}
.cid-t9uhiAQSrh .mbr-figure {
  margin: 0 auto;
}
.cid-t9uhiAQSrh figcaption {
  position: relative;
}
.cid-t9uhiAQSrh figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-t9uhiAQSrh .image-block {
    width: 100% !important;
  }
}
.cid-t9ui3qxl2g {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t9ui3qxl2g .mbr-text,
.cid-t9ui3qxl2g blockquote {
  color: #767676;
}
.cid-t9ui3qxl2g .mbr-text {
  color: #232323;
}
.cid-t9uiriPjOM {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-t9uiriPjOM .image-block {
  margin: auto;
}
.cid-t9uiriPjOM .mbr-figure {
  margin: 0 auto;
}
.cid-t9uiriPjOM figcaption {
  position: relative;
}
.cid-t9uiriPjOM figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-t9uiriPjOM .image-block {
    width: 100% !important;
  }
}
.cid-t9uiIFIKoz {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-t9uiIFIKoz .mbr-text,
.cid-t9uiIFIKoz blockquote {
  color: #767676;
}
.cid-t9uiIFIKoz .mbr-text {
  color: #232323;
}
.cid-t9uiYBi8fK {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-t9uiYBi8fK .image-block {
  margin: auto;
}
.cid-t9uiYBi8fK .mbr-figure {
  margin: 0 auto;
}
.cid-t9uiYBi8fK figcaption {
  position: relative;
}
.cid-t9uiYBi8fK figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-t9uiYBi8fK .image-block {
    width: 100% !important;
  }
}
.cid-t9ujkAnOKR {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t9ujkAnOKR .mbr-text,
.cid-t9ujkAnOKR blockquote {
  color: #767676;
}
.cid-t9ujkAnOKR .mbr-text {
  color: #232323;
}
.cid-t9ujQ6tqbj {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-t9ujQ6tqbj .image-block {
  margin: auto;
}
.cid-t9ujQ6tqbj .mbr-figure {
  margin: 0 auto;
}
.cid-t9ujQ6tqbj figcaption {
  position: relative;
}
.cid-t9ujQ6tqbj figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-t9ujQ6tqbj .image-block {
    width: 100% !important;
  }
}
.cid-t9ujSvk7jS {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t9ujSvk7jS .mbr-text,
.cid-t9ujSvk7jS blockquote {
  color: #767676;
}
.cid-t9ujSvk7jS .mbr-text {
  color: #232323;
}
.cid-t9ukB20i2Z {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 15px;
}
.cid-t9ukB20i2Z .image-block {
  margin: auto;
}
.cid-t9ukB20i2Z .mbr-figure {
  margin: 0 auto;
}
.cid-t9ukB20i2Z figcaption {
  position: relative;
}
.cid-t9ukB20i2Z figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-t9ukB20i2Z .image-block {
    width: 100% !important;
  }
}
.cid-t9RQhCiW0O {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t9RQhCiW0O .mbr-text,
.cid-t9RQhCiW0O blockquote {
  color: #767676;
}
.cid-t9RQhCiW0O .mbr-text {
  color: #232323;
}
.cid-t59TCQ0QVC {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t59TCQ0QVC .counter-container {
  color: #767676;
}
.cid-t59TCQ0QVC .counter-container ul {
  margin-bottom: 0;
}
.cid-t59TCQ0QVC .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
}
.cid-t59TCQ0QVC .counter-container ul li:before {
  position: absolute;
  left: -56px;
  margin-top: -10px;
  padding-top: 3px;
  content: '';
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 20px;
  transition: all .2s;
  color: #ffffff;
  background: #ff0000;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  content: '✓';
}
.cid-t59TCQ0QVC .mbr-text {
  color: #232323;
}
.cid-t9RRJplzTW {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-t9RRJplzTW .line {
  background-color: #232323;
  color: #232323;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-t9RRJplzTW .section-text {
  padding: 2rem 0;
  color: #232323;
}
.cid-t9RRJplzTW .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-t9RRJplzTW .inner-container {
    width: 100% !important;
  }
}
.cid-t9RRyRnlLq {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t9RRyRnlLq .mbr-text,
.cid-t9RRyRnlLq blockquote {
  color: #767676;
}
.cid-t9RRyRnlLq .mbr-text {
  color: #232323;
}
.cid-t9SYd4kziz {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-t9SYd4kziz .line {
  background-color: #232323;
  color: #232323;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-t9SYd4kziz .section-text {
  padding: 2rem 0;
  color: #232323;
}
.cid-t9SYd4kziz .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-t9SYd4kziz .inner-container {
    width: 100% !important;
  }
}
.cid-t9SYqd8ffM {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t9SYqd8ffM .mbr-text,
.cid-t9SYqd8ffM blockquote {
  color: #767676;
}
.cid-t9SYqd8ffM .mbr-text {
  color: #232323;
}
.cid-ta47AcNhGt {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ta47AcNhGt .image-block {
  margin: auto;
}
.cid-ta47AcNhGt .mbr-figure {
  margin: 0 auto;
}
.cid-ta47AcNhGt figcaption {
  position: relative;
}
.cid-ta47AcNhGt figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ta47AcNhGt .image-block {
    width: 100% !important;
  }
}
.cid-ta47yIYfq9 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-ta47yIYfq9 .mbr-text,
.cid-ta47yIYfq9 blockquote {
  color: #767676;
}
.cid-ta47yIYfq9 .mbr-text {
  color: #232323;
}
.cid-taaYIzi5Ei {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-taaYIzi5Ei .image-block {
  margin: auto;
}
.cid-taaYIzi5Ei .mbr-figure {
  margin: 0 auto;
}
.cid-taaYIzi5Ei figcaption {
  position: relative;
}
.cid-taaYIzi5Ei figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-taaYIzi5Ei .image-block {
    width: 100% !important;
  }
}
.cid-ta47ZpUD4p {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-ta47ZpUD4p .mbr-text,
.cid-ta47ZpUD4p blockquote {
  color: #767676;
}
.cid-ta47ZpUD4p .mbr-text {
  color: #232323;
}
.cid-ta49exMBHS {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-ta49exMBHS .line {
  background-color: #232323;
  color: #232323;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-ta49exMBHS .section-text {
  padding: 2rem 0;
  color: #232323;
}
.cid-ta49exMBHS .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-ta49exMBHS .inner-container {
    width: 100% !important;
  }
}
.cid-ta49h5xDy2 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-ta49h5xDy2 .mbr-text,
.cid-ta49h5xDy2 blockquote {
  color: #767676;
}
.cid-ta49h5xDy2 .mbr-text {
  color: #232323;
}
.cid-ta4zvQuo2p {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-ta4zvQuo2p P {
  color: #767676;
}
.cid-ta49NOwqsh {
  background: #ffffff;
  padding-top: 15px;
  padding-bottom: 0px;
}
.cid-ta49NOwqsh .image-block {
  margin: auto;
}
.cid-ta49NOwqsh .mbr-figure {
  margin: 0 auto;
}
.cid-ta49NOwqsh figcaption {
  position: relative;
}
.cid-ta49NOwqsh figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ta49NOwqsh .image-block {
    width: 100% !important;
  }
}
.cid-ta4cS32e0W {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-ta4cS32e0W .mbr-text,
.cid-ta4cS32e0W blockquote {
  color: #767676;
}
.cid-ta4cS32e0W .mbr-text {
  color: #232323;
}
.cid-ta4dbxRbof {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-ta4dbxRbof .image-block {
  margin: auto;
}
.cid-ta4dbxRbof .mbr-figure {
  margin: 0 auto;
}
.cid-ta4dbxRbof figcaption {
  position: relative;
}
.cid-ta4dbxRbof figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-ta4dbxRbof .image-block {
    width: 100% !important;
  }
}
.cid-ta4davl1HS {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-ta4davl1HS .mbr-text,
.cid-ta4davl1HS blockquote {
  color: #767676;
}
.cid-ta4davl1HS .mbr-text {
  color: #232323;
}
.cid-taeP4rFHIv {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-taeP4rFHIv .counter-container {
  color: #767676;
}
.cid-taeP4rFHIv .counter-container ul {
  margin-bottom: 0;
}
.cid-taeP4rFHIv .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
}
.cid-taeP4rFHIv .counter-container ul li:before {
  position: absolute;
  left: -56px;
  margin-top: -10px;
  padding-top: 3px;
  content: '';
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 20px;
  transition: all .2s;
  color: #ffffff;
  background: #ff0000;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  content: '✓';
}
.cid-taeP4rFHIv .mbr-text {
  color: #232323;
}
.cid-taeOLBAx1u {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-taeOLBAx1u .mbr-text,
.cid-taeOLBAx1u blockquote {
  color: #767676;
}
.cid-taeOLBAx1u .mbr-text {
  color: #232323;
}
.cid-taaMHoE2yV {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-taaMHoE2yV .image-block {
  margin: auto;
}
.cid-taaMHoE2yV .mbr-figure {
  margin: 0 auto;
}
.cid-taaMHoE2yV figcaption {
  position: relative;
}
.cid-taaMHoE2yV figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-taaMHoE2yV .image-block {
    width: 100% !important;
  }
}
.cid-taaLF75QD2 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-taaLF75QD2 .mbr-text,
.cid-taaLF75QD2 blockquote {
  color: #767676;
}
.cid-taaLF75QD2 .mbr-text {
  color: #232323;
}
.cid-taaOIaD4Bi {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-taaOIaD4Bi .image-block {
  margin: auto;
}
.cid-taaOIaD4Bi .mbr-figure {
  margin: 0 auto;
}
.cid-taaOIaD4Bi figcaption {
  position: relative;
}
.cid-taaOIaD4Bi figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-taaOIaD4Bi .image-block {
    width: 100% !important;
  }
}
.cid-taaOJRGCHl {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-taaOJRGCHl .mbr-text,
.cid-taaOJRGCHl blockquote {
  color: #767676;
}
.cid-taaOJRGCHl .mbr-text {
  color: #232323;
}
.cid-taaPAVzv7L {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-taaPAVzv7L .counter-container {
  color: #767676;
}
.cid-taaPAVzv7L .counter-container ul {
  margin-bottom: 0;
}
.cid-taaPAVzv7L .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
}
.cid-taaPAVzv7L .counter-container ul li:before {
  position: absolute;
  left: -56px;
  margin-top: -10px;
  padding-top: 3px;
  content: '';
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 20px;
  transition: all .2s;
  color: #ffffff;
  background: #1abc9c;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  content: '✓';
}
.cid-taaPAVzv7L .mbr-text {
  color: #232323;
}
.cid-ta4CMqg9BW {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-ta4CMqg9BW .mbr-section-subtitle {
  color: #232323;
  text-align: center;
  font-weight: 300;
}
.cid-ta4CMqg9BW .step {
  width: 64px;
  height: 64px;
  font-size: 32px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
@media (max-width: 767px) {
  .cid-ta4CMqg9BW .step {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }
}
.cid-ta4CMqg9BW .separline {
  position: relative;
}
.cid-ta4CMqg9BW .separline:after {
  top: 68px;
  left: 30px;
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% - (32px + 4px) * 2);
  background-color: #ffffff;
}
@media (max-width: 767px) {
  .cid-ta4CMqg9BW .separline:after {
    top: 52px;
    left: 22px;
    height: calc(100% - 56px);
  }
}
.cid-taaQQWirCl {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-taaQQWirCl .image-block {
  margin: auto;
}
.cid-taaQQWirCl .mbr-figure {
  margin: 0 auto;
}
.cid-taaQQWirCl figcaption {
  position: relative;
}
.cid-taaQQWirCl figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-taaQQWirCl .image-block {
    width: 100% !important;
  }
}
.cid-taaQOVUeEP {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-taaQOVUeEP .mbr-text,
.cid-taaQOVUeEP blockquote {
  color: #767676;
}
.cid-taaQOVUeEP .mbr-text {
  color: #232323;
}
.cid-tabhYltfok {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-tabhYltfok .line {
  background-color: #232323;
  color: #232323;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-tabhYltfok .section-text {
  padding: 2rem 0;
  color: #232323;
}
.cid-tabhYltfok .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-tabhYltfok .inner-container {
    width: 100% !important;
  }
}
.cid-taaUHwcSXr {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-taaUHwcSXr .mbr-text,
.cid-taaUHwcSXr blockquote {
  color: #767676;
}
.cid-taaUHwcSXr .mbr-text {
  color: #232323;
}
.cid-taaUItR4dT {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-taaUItR4dT .image-block {
  margin: auto;
}
.cid-taaUItR4dT .mbr-figure {
  margin: 0 auto;
}
.cid-taaUItR4dT figcaption {
  position: relative;
}
.cid-taaUItR4dT figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-taaUItR4dT .image-block {
    width: 100% !important;
  }
}
.cid-taaUJDDQPc {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-taaUJDDQPc .mbr-text,
.cid-taaUJDDQPc blockquote {
  color: #767676;
}
.cid-taaUJDDQPc .mbr-text {
  color: #232323;
}
.cid-taaUKzX4YA {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-taaUKzX4YA .image-block {
  margin: auto;
}
.cid-taaUKzX4YA .mbr-figure {
  margin: 0 auto;
}
.cid-taaUKzX4YA figcaption {
  position: relative;
}
.cid-taaUKzX4YA figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-taaUKzX4YA .image-block {
    width: 100% !important;
  }
}
.cid-taaULg9C05 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-taaULg9C05 .mbr-text,
.cid-taaULg9C05 blockquote {
  color: #767676;
}
.cid-taaULg9C05 .mbr-text {
  color: #232323;
}
.cid-taaUMgyLHg {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 15px;
}
.cid-taaUMgyLHg .image-block {
  margin: auto;
}
.cid-taaUMgyLHg .mbr-figure {
  margin: 0 auto;
}
.cid-taaUMgyLHg figcaption {
  position: relative;
}
.cid-taaUMgyLHg figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-taaUMgyLHg .image-block {
    width: 100% !important;
  }
}
.cid-t5crQjZgPg {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #1abc9c;
}
.cid-t5crQjZgPg .mbr-section-subtitle {
  color: #767676;
}
.cid-t5crQjZgPg H2 {
  color: #ffffff;
}
.cid-t6GJONf2Yu {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t6GJONf2Yu .mbr-section-subtitle {
  color: #767676;
  text-align: center;
  font-weight: 300;
}
.cid-t6GJONf2Yu .timeline-text-content {
  padding: 2rem 2.5rem;
  background: #efefef;
  margin-right: 2rem;
  transition: all .4s;
}
.cid-t6GJONf2Yu .timeline-text-content p {
  margin-bottom: 0;
}
.cid-t6GJONf2Yu .timeline-element {
  margin-bottom: 50px;
  position: relative;
  word-wrap: break-word;
  word-break: break-word;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
}
.cid-t6GJONf2Yu .timeline-element:hover .timeline-text-content {
  box-shadow: 0 7px 20px 0px rgba(0, 0, 0, 0.08);
  transition: all .4s;
}
.cid-t6GJONf2Yu .reverse {
  flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
}
.cid-t6GJONf2Yu .reverse .timeline-text-content {
  margin-left: 2rem;
  margin-right: 0;
}
.cid-t6GJONf2Yu .iconsBackground {
  position: absolute;
  left: 50%;
  width: 60px;
  height: 60px;
  line-height: 30px;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  background-color: #efefef;
  top: 20px;
  margin-left: -30px;
}
.cid-t6GJONf2Yu .mbr-iconfont {
  position: absolute;
  text-align: center;
  font-size: 35px;
  display: inline-block;
  z-index: 3;
  top: 13px;
  left: 13px;
}
.cid-t6GJONf2Yu .separline:before {
  top: 20px;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #efefef;
  left: calc(50% - 1px);
  height: calc(100% + 4rem);
}
@media (max-width: 768px) {
  .cid-t6GJONf2Yu .iconsBackground {
    left: 1.5rem;
  }
  .cid-t6GJONf2Yu .separline:before {
    left: calc(1.5rem - 1px);
  }
  .cid-t6GJONf2Yu .timeline-text-content {
    margin-left: 3rem !important;
    margin-right: 0 !important;
  }
  .cid-t6GJONf2Yu .reverse .timeline-text-content {
    margin-right: 0 !important;
  }
}
.cid-t6GJONf2Yu .reverseTimeline {
  display: flex;
  flex-direction: column-reverse;
}
.cid-t6Z1zb2Ayx {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #efefef;
}
.cid-t6Z1zb2Ayx .line {
  background-color: #232323;
  color: #232323;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-t6Z1zb2Ayx .section-text {
  padding: 2rem 0;
  color: #7f1933;
}
.cid-t6Z1zb2Ayx .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-t6Z1zb2Ayx .inner-container {
    width: 100% !important;
  }
}
.cid-t5cvYyGjuF {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
@media (min-width: 992px) {
  .cid-t5cvYyGjuF .mbr-figure {
    padding-right: 4rem;
  }
}
@media (max-width: 991px) {
  .cid-t5cvYyGjuF .mbr-figure {
    padding-bottom: 1rem;
  }
}
.cid-t5cvYyGjuF .mbr-text {
  color: #ffffff;
}
.cid-t6Z0Me24eC {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.cid-t6Z0Me24eC .image-block {
  margin: auto;
}
.cid-t6Z0Me24eC .mbr-figure {
  margin: 0 auto;
}
.cid-t6Z0Me24eC figcaption {
  position: relative;
}
.cid-t6Z0Me24eC figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-t6Z0Me24eC .image-block {
    width: 100% !important;
  }
}
.cid-t5gKObgSBT {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #1abc9c;
}
.cid-t5gKObgSBT .mbr-section-subtitle {
  color: #ffffff;
}
.cid-t5gKObgSBT H2 {
  color: #ffffff;
}
.cid-t5gKXITALm {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #efefef;
}
.cid-t5gKXITALm .mbr-text,
.cid-t5gKXITALm blockquote {
  color: #767676;
}
.cid-t5gKXITALm .mbr-text {
  color: #232323;
}
.cid-t7vkrbMWQ3 {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-t7vkrbMWQ3 .mbr-section-subtitle {
  color: #1abc9c;
}
.cid-t7vkrbMWQ3 H2 {
  color: #ff0000;
}
.cid-t5gZm9fi9C {
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(45deg, #efefef, #efefef);
}
.cid-t5gZm9fi9C .list-group-item {
  padding: .75rem 3.25rem;
}
.cid-t5gZm9fi9C .plan {
  word-break: break-word;
  position: relative;
  max-width: 300px;
  padding-right: 0;
  padding-left: 0;
  color: #767676;
}
.cid-t5gZm9fi9C .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
}
.cid-t5gZm9fi9C .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-t5gZm9fi9C .plan .list-group-item:last-child::after {
  display: none;
}
.cid-t5gZm9fi9C .plan-header {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-t5gZm9fi9C .plan-header,
.cid-t5gZm9fi9C .plan-body {
  background-color: #fff;
}
.cid-t5gZm9fi9C .price-figure {
  font-weight: 700;
  color: #1abc9c;
}
.cid-t5gZm9fi9C .price-value {
  font-weight: 700;
  vertical-align: top;
  color: #1abc9c;
}
@media (max-width: 550px) {
  .cid-t5gZm9fi9C .price-figure {
    font-size: 4.25rem;
  }
}
.cid-t5gZm9fi9C UL {
  color: #232323;
}
.cid-t5gZm9fi9C .plan-title {
  color: #1abc9c;
}
.cid-t5gWFqidCu {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #ffffff;
}
.cid-t5gWFqidCu .line {
  background-color: #232323;
  color: #232323;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-t5gWFqidCu .section-text {
  padding: 2rem 0;
  color: #232323;
}
.cid-t5gWFqidCu .inner-container {
  margin: 0 auto;
}
@media (max-width: 768px) {
  .cid-t5gWFqidCu .inner-container {
    width: 100% !important;
  }
}
.cid-t5gX078gTL {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t5gX078gTL .mbr-text,
.cid-t5gX078gTL blockquote {
  color: #767676;
}
.cid-t5gX078gTL .mbr-text {
  color: #7f1933;
}
.cid-t5gX9uLD38 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t5gX9uLD38 .counter-container {
  color: #767676;
}
.cid-t5gX9uLD38 .counter-container ul {
  margin-bottom: 0;
}
.cid-t5gX9uLD38 .counter-container ul li {
  margin-bottom: 1rem;
  list-style: none;
  position: relative;
}
.cid-t5gX9uLD38 .counter-container ul li:before {
  position: absolute;
  left: -56px;
  margin-top: -10px;
  padding-top: 3px;
  content: '';
  display: inline-block;
  text-align: center;
  margin: 5px 10px;
  line-height: 20px;
  transition: all .2s;
  color: #ffffff;
  background: #cc2952;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  content: '✓';
}
.cid-t5gX9uLD38 .mbr-text {
  color: #7f1933;
}
.cid-t5gYt0z8ZN {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #073b4c;
}
.cid-t5gYt0z8ZN .mbr-section-subtitle {
  color: #767676;
}
.cid-t5gYt0z8ZN H2 {
  color: #ffffff;
}
.cid-t5gYiD7YED {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #efefef;
}
.cid-t5gYiD7YED .mbr-text,
.cid-t5gYiD7YED blockquote {
  color: #767676;
}
.cid-t5gYiD7YED .mbr-text {
  color: #232323;
}
.cid-t5h0Tx2fZ8 {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #efefef;
}
.cid-t5h0Tx2fZ8 .mbr-section-subtitle {
  color: #1abc9c;
}
.cid-t5h0Tx2fZ8 H2 {
  color: #ff0000;
}
.cid-t5h3hPh7dG {
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(45deg, #efefef, #efefef);
}
.cid-t5h3hPh7dG .list-group-item {
  padding: .75rem 3.25rem;
}
.cid-t5h3hPh7dG .plan {
  word-break: break-word;
  position: relative;
  max-width: 300px;
  padding-right: 0;
  padding-left: 0;
  color: #767676;
}
.cid-t5h3hPh7dG .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
}
.cid-t5h3hPh7dG .plan .list-group-item::after {
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  content: "";
  background-color: #eaeaea;
}
.cid-t5h3hPh7dG .plan .list-group-item:last-child::after {
  display: none;
}
.cid-t5h3hPh7dG .plan-header {
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-t5h3hPh7dG .plan-header,
.cid-t5h3hPh7dG .plan-body {
  background-color: #fff;
}
.cid-t5h3hPh7dG .price-figure {
  font-weight: 700;
  color: #1abc9c;
}
.cid-t5h3hPh7dG .price-value {
  font-weight: 700;
  vertical-align: top;
  color: #1abc9c;
}
@media (max-width: 550px) {
  .cid-t5h3hPh7dG .price-figure {
    font-size: 4.25rem;
  }
}
.cid-t5h3hPh7dG UL {
  color: #232323;
}
.cid-t5h3hPh7dG .plan-title {
  color: #1abc9c;
}
.cid-tabfmi5z2I {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #7f1933;
}
.cid-tabfmi5z2I .mbr-section-subtitle {
  color: #767676;
}
.cid-tabfmi5z2I H2 {
  color: #ffffff;
}
.cid-tabemNyaDh {
  padding-top: 30px;
  padding-bottom: 15px;
  background-color: #7f1933;
}
.cid-tabemNyaDh .mbr-section-subtitle {
  color: #767676;
}
.cid-tabemNyaDh H2 {
  color: #ffffff;
}
.cid-t5hnpgBMh4 {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t5hnpgBMh4 .mbr-text,
.cid-t5hnpgBMh4 blockquote {
  color: #767676;
}
.cid-t5hnpgBMh4 .mbr-text {
  color: #232323;
}
.cid-t6dtlUERJH {
  padding-top: 75px;
  padding-bottom: 75px;
  background-color: #31a53b;
}
.cid-t6dtlUERJH .mbr-media span {
  font-size: 48px;
  cursor: pointer;
  background-color: #ffffff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  line-height: 6rem;
  position: relative;
  display: inline-block;
  transition: all 0.25s;
  color: #353535;
}
.cid-t6dtlUERJH .mbr-media span.mbri-play:before {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-35%);
  -moz-transform: translateX(-35%);
  -ms-transform: translateX(-35%);
  -o-transform: translateX(-35%);
  transform: translateX(-35%);
}
.cid-t6dtlUERJH .modalWindow {
  position: fixed;
  z-index: 5000;
  left: 0;
  top: 0;
  background-color: rgba(61, 61, 61, 0.65);
  width: 100%;
  height: 100%;
}
.cid-t6dtlUERJH .modalWindow .modalWindow-container {
  display: table-cell;
  vertical-align: middle;
}
.cid-t6dtlUERJH .modalWindow .modalWindow-video {
  height: calc(44.9943757vw);
  width: 80vw;
  margin: 0 auto;
}
.cid-t6dtlUERJH a.close {
  position: absolute;
  right: 4vw;
  top: 4vh;
  color: #ffffff;
  z-index: 5000000;
  font-size: 37px;
  background: #000;
  padding: 20px;
  border-radius: 50%;
}
.cid-t6dtlUERJH a.close:hover {
  color: #ffffff;
}
.cid-t6ji7TzijX {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t6ji7TzijX .mbr-text,
.cid-t6ji7TzijX blockquote {
  color: #767676;
}
.cid-t6ji7TzijX .mbr-text {
  color: #c1c1c1;
}
.cid-t6ji7TzijX .mbr-text P {
  text-align: center;
}
.cid-t74d1muYcr {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #232323;
}
.cid-t74d1muYcr .mbr-text,
.cid-t74d1muYcr blockquote {
  color: #767676;
}
.cid-t74d1muYcr .mbr-text {
  color: #232323;
}
.cid-teqqBOC1oK {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-teqqBOC1oK .mbr-text,
.cid-teqqBOC1oK blockquote {
  color: #767676;
}
.cid-teqqBOC1oK .mbr-text {
  color: #073b4c;
}
.cid-teqqBOC1oK .mbr-text P {
  text-align: left;
}
.cid-t6jiNcUkIV {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t6jiNcUkIV .mbr-text,
.cid-t6jiNcUkIV blockquote {
  color: #767676;
}
.cid-t6jiNcUkIV .mbr-text {
  color: #232323;
}
.cid-t6jiNcUkIV .mbr-text P {
  text-align: center;
}
.cid-t6jjtcEm9g {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-t6jjtcEm9g .mbr-text,
.cid-t6jjtcEm9g blockquote {
  color: #767676;
}
.cid-t6jjtcEm9g .mbr-text {
  color: #232323;
}
.cid-t6jjtcEm9g .mbr-text P {
  text-align: left;
}
